@import "~bootstrap/scss/bootstrap";

h1 {
    color: red;
    &.blue {
        color: blue;
    }
    &.bg-yellow {
        background-color: yellow;
    }
    &:hover {
        color: green;
    }
}

p {
    &.blue {
        color: blue;
    }
}
